1:
    name: Ростов-на-Дону
    region:
        - Александровка
        - Аэропорт
        - Болгарстрой
        - Военвед
        - Железнодорожный(ЖДР)
        - Западный (ЗЖМ)
        - Зоопарк
        - Каменка
        - Левенцовка
        - Левый берег
        - Лендворец
        - Ленина
        - Нахивечань
        - Новое поселение
        - Орджоникидзе
        - Пригород
        - Ростовское море
        - Северный (СЖМ)
        - Сельмаш
        - Стройгородок
        - Суворовский
        - Темерник
        - Центр
        - Чкаловский
2:
    name: Батайск
    region:
        - 9-й школы
        - Авиагородок
        - Березовая роща
        - Восточный
        - Гайдара
        - Залесье
        - Западный
        - Кирпичный
        - Красный сад
        - Наливной
        - Овощной
        - РДВС
        - Северный
        - Соленое озеро
        - Храма
        - Центр
        - Южный
3:
    name: Аксай
    region:
        - Аксай
4:
    name: Азов
    region:
        - Азов
5:
    name: Область
    region:
        - Область
