1:
    name: Ростов-на-Дону
    region:
        - Александровка
        - Аэропорт
        - Зоопарк
2:
    name: Батайск
    region:
        - Авиагородок
        - Гайдара
        - Залесье
3:
    name: Аксай
    region:
        - РайонАксай1
        - РайонАксай2
        - РайонАксай3
4:
    name: Азов
    region:
        - РайонАзов1
        - РайонАзов2
        - РайонАзов3
        - РайонАзов4
5:
    name: Область
    region:
        - РайонОбласть1
        - РайонОбласть2
        - РайонОбласть3
        - РайонОбласть4
        - РайонОбласть5
        - РайонОбласть6
