1: Абаза
    region:
        - Арайон1
        - Арайон2
        - Арайон3
        - Арайон4
        - Арайон5
        - Арайон6
2: Ббакан
    region:
        - Брайон1
        - Брайон2
        - Брайон3
        - Брайон4
        - Брайон5
        - Брайон6
3: Вбдулино
    region:
        - Врайон1
        - Врайон2
        - Врайон3
        - Врайон4
        - Врайон5
        - Врайон6
4: Гбинск
    region:
        - Грайон1
        - Грайон2
        - Грайон3
        - Грайон4
        - Грайон5
        - Грайон6
