- Абаза
- Абакан
- Абдулино
- Абинск
- Агидель
- Агрыз
- Адыгейск
- Азнакаево
- Азов
- Ак-Довурак
- Аксай
- Алагир
- Алапаевск
- Алатырь
- Алдан
- Алейск
- Александров
- Александровск
- Александровск-Сахалинский
- Алексеевка
- Алексин
- Алзамай
- Алупка
- Алушта
- Альметьевск
- Амурск
- Анадырь
- Анапа
- Ангарск
- Андреаполь
- Анжеро-Судженск
- Анива
- Апатиты
- Апрелевка
- Апшеронск
- Арамиль
- Аргун
- Ардатов
- Ардон
- Арзамас
- Аркадак
- Армавир
- Армянск
- Армянськ
- Арсеньев
- Арск
- Артем
- Артемовск
- Артемовский
- Архангельск
- Асбест
- Асино
- Астрахань
- Аткарск
- Ахтубинск
- Ахтубинск-7
- Ачинск
- Аша
- Бабаево
- Бабушкин
- Бавлы
- Багратионовск
- Байкальск
- Баймак
- Бакал
- Баксан
- Балабаново
- Балаково
- Балахна
- Балашиха
- Балашов
- Балей
- Балтийск
- Барабинск
- Барнаул
- Барыш
- Батайск
- Бахчисарай
- Бежецк
- Белая Калитва
- Белая Холуница
- Белгород
- Белебей
- Белев
- Белинский
- Белово
- Белогорск
- Белогорск
- Белозерск
- Белокуриха
- Беломорск
- Белорецк
- Белореченск
- Белоусово
- Белоярский
- Белый
- Бердск
- Березники
- Березовский
- Березовский
