<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>Real estate agency</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}?v=2" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link href="{{ asset('css/sidebar.css') }}" rel="stylesheet">
</head>
<body>

<div class="row">
    <div class="col-md-4 col-md-offset-4 text-center" style="margin-top: 200px">
        <h1>Ошибка <b>{{ status_code }}</b></h1><p>
            {% if status_code == 400 or status_code == 404 %}
                Страница не найдена
            {% elseif status_code == 403 %}
                У вас недостаточно прав для отображения данной страницы
            {% elseif status_code == 405 or status_code == 500 or status_code == 501 or status_code == 505 %}
                Веб-узел не может отобразить страницу
            {% elseif status_code == 406 %}
                Неверный формат страницы
            {% elseif status_code == 408 or  status_code == 409 %}
                Веб-узел перегружен и не может отобразить страницу
            {% elseif status_code == 410 %}
                Запрашиваемая вам страница больше не существует
            {% endif %}
        <p><a href="{{ url('find_advert') }}">Вернуться на главную страницу</a>
    </div>
</div>

</body>
</html>
