<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Real estate agency</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}?v=2" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

    <style>
        hr {
            border: none; /* Убираем границу для браузера Firefox */
            color: #6f7d95; /* Цвет линии для остальных браузеров */
            background-color: #6f7d95; /* Цвет линии для браузера Firefox и Opera */
            height: 2px; /* Толщина линии */
        }
    </style>
</head>
<body>
<div class="header">
    {{ render(controller('MrsuhRealEstateBundle:Default:header')) }}
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <b>{{ pageName }}</b>
            <hr></div></div>
        </div>
</div>

<div class="content" >
   <div class="row">
       <div class="col-md-8 col-md-offset-2">
           {% include "MrsuhRealEstateBundle::alert.html.twig" %}<br>
          {% block content %}{% endblock %}
       </div>
   </div>
</div>

</div>

<script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
{% block js %}{% endblock %}
</body>
</html>
