{% extends "MrsuhRealEstateBundle::Security/layout.html.twig" %}
{% block content %}
    <form action="{{ url('login_check') }}" method="POST">

        <div class="form-group">
            <label for="username">Имя пользователя</label>
            <input type="text" class="form-control" id="username"
                   name="_username" value="{{ last_username }}"
                   placeholder="login" required="true" style="margin-bottom: 10px"/>
            <label for="password">Пароль</label>
            <input type="password" class="form-control" id="password"
                   name="_password" placeholder="password"
                   required="true" style="margin-bottom: 10px"/>

            {% if error %}
                <div class="bg-danger" style="margin-bottom: 10px">Неверное имя пользователя или пароль</div>
            {% endif %}

            <input type="submit" class="btn-primary form-control" name="login" value="SIGN IN"/>
        </div>
    </form>
{% endblock %}